body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
header a {
  text-decoration: none;
}
.nav-text-list {
  list-style-type: none;
}

.nav-text-list a {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-decoration: none;
}
.nav-text-list a:hover,
.nav-text-list:active {
  color: #404bbf;
}
.address a {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none;
}
.address a:hover {
  color: #404bbf;
}

h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 3;
  text-align: center;
}

button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}
button:hover {
  background-color: #404bbf;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
}
p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}
.section2 ul {
  list-style-type: none;
}
.section3 ul {
  list-style-type: none;
}
.section3 {
  background-color: #f4f4fd;
}
.section4 ul {
  list-style-type: none;
}
.footer {
  background-color: #2e2f42;
}
.footer p {
  color: #f4f4fd;
}
.footer a {
  text-decoration: none;
  color: #f4f4fd;
}
